node_modules
dist
.git
.vscode
*.log
.vercel

# Environment secrets
.env
.env.local
.env.staging
.env.prod

# Prisma generated
/src/generated/prisma

# GCS key
gcs-key.json

# Scripts
scripts/**/*.js
scripts/**/*.js.map

# Misc
temp-mongo-schema
